<h1><%= t('edit.title') %></h1>

<% if @kata.errors %>
<ul>
    <% @kata.errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_for(@kata) do |f| %>
<fieldset>
  <div>
    <label for="title"><%= t('edit.kata.title') %>:</label>
    <%= f.text_field :title %>
  </div>
  <div>
    <label for="description"><%= t('edit.kata.description') %>:</label>
    <%= f.text_field :description %>
  </div>
</fieldset>
<%= f.submit t('edit.actions.save') %>
<% end %>
