<h1><%= t('list.title') %></h1>

<ul>
<% @katas.each do |kata| %>
  <li><%= show_kata_link(kata.title, kata.id) %>
    - <%= edit_kata_link(t('list.action.edit'), kata.id) %>
    <%= delete_kata_link(t('list.action.delete'), kata.id) %>
  </li>
<% end %>
</ul>

<div>
  <%= link_to(t('list.actions.new'), new_kata_path) %>
</div
